<h1>Welcome to the Lyricoo beta launch!</h1>

<p>We've set up an account for you, just head to <a href="www.maqaw.com">Lyricoo</a> to try it out!<p>

<p><strong>Username</strong>: <%=@user.email%><p>
<p><strong>Password</strong>: <%=@password%><p>
