<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>

</HEAD>

<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">You are part of a very small group
  invited to participate in a very early test of a mobile app, <B>LYRICOO</B>,
  which is being considered for further development. The application is
  intended to introduce a new way of communicating – through
  Lyricoos…</P>
<P STYLE="margin-bottom: 0in">What is a Lyricoo?</P>
<UL>
  <LI><P STYLE="margin-bottom: 0in">Lyricoos are a way of sending a
    musical message…
  </P>
  <LI><P STYLE="margin-bottom: 0in">Lricoos are a way of showing your
    creativity and playing with the meaning of music to express yourself
    when you don’t have the words</P>
  <LI><P STYLE="margin-bottom: 0in">Lyricoos are a way of getting your
    point across, getting out of the doghouse, or letting someone know
    you’d like to get to know them better</P>
  <LI><P STYLE="margin-bottom: 0in">Lyricoos are… whatever you want
    them to be – we hope you will play around with the app and come up
    with ways to use it that we haven’t even considered!
  </P>
</UL>
<P STYLE="margin-bottom: 0in"><B>Please</B> -- Try this out, share it
  with as many people as you would like – and let us know what you
  think. This test will run from September 19 – September 30.
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Here are some details:</P>
<UL>
  <LI><P STYLE="margin-bottom: 0in">Follow this link to load the
    application onto your mobile phone <a href='www.maqaw.com'>Lyricoo</a>
  </P>
  <LI><P STYLE="margin-bottom: 0in">To invite others to participate,
    and to send a new user a Lyricoo, do the following (INSERT
    INSTRUCTIONS HERE)
  </P>
  <LI><P STYLE="margin-bottom: 0in">Each time you receive a Lyricoo,
    you will get an email (this is part of the test, and would not be
    part of a fully developed application) you can turn these
    notifications off if you prefer – but you will then have to check
    your Lyricoo app for messages to see your Lyricoos (we can’t build
    an in-app pop up in this version)</P>
  <LI><P STYLE="margin-bottom: 0in">Over the course of the test, you
    may be asked to answer a question or provide some information –
    please take a moment to do this when asked – it is extremely
    helpful to our experiment</P>
  <LI><P STYLE="margin-bottom: 0in">We really appreciate your feedback
    and suggestions – please send any comments, questions, etcetera to
    <A HREF="mailto:Meredith@lyricoo.com">Meredith@lyricoo.com</A></P>
  <LI><P STYLE="margin-bottom: 0in">In this test, the Lyricoos are
    arranged in categories for convenience – and you may not be
    familiar with all the artists or songs – don’t avoid a Lyricoo
    just because you don’t know it or because it is in a category you
    don’t like - you can listen to a Lyricoo before you send it –
    and then determine how it works best for you
  </P>
  <LI><P STYLE="margin-bottom: 0in">with all but each Lyricoo might
    mean something different for you. You can listen to a Lyricoo before
    you send it
  </P>
  <LI><P STYLE="margin-bottom: 0in">This app is designed with minimal
    functionality for now – should we decide to build it out, it will
    be more robust, user friendly and have more features</P>
  <LI><P STYLE="margin-bottom: 0in">If you are NOT interested in
    participating in this test, please email <A HREF="mailto:Meredith@lyricoo.com">Meredith@lyricoo.com</A>
    and we will remove you from the cohort.
  </P>
</UL>
</BODY>
</HTML>

<p><strong>Username</strong>: <%=@user.email%><p>
<p><strong>Password</strong>: <%=@password%><p>
