<table id="users"></table>

<script>
    $().ready(function(){
        $('#users').dataTable( {
            "aaData":
                <%= @user_data.to_s.html_safe%>

            ,
            "aoColumns": [
                { "sTitle": "ID" },
                { "sTitle": "Email" },
                { "sTitle": "Join Date" },
                { "sTitle": "First Name" },
                { "sTitle": "Last Name"},
                { "sTitle": "Age"},
                { "sTitle": "Gender"},
                { "sTitle": "# Of Contacts"},
                { "sTitle": "Messages Sent"},
                { "sTitle": "Last Activity"}
            ]
        } );

        $("#users th").each(function(){

            $(this).addClass("ui-state-default");

        });
        $("#users td").each(function(){

            $(this).addClass("ui-widget-content");

        });
        $("#users tr").hover(
                function()
                {
                    $(this).children("td").addClass("ui-state-hover");
                },
                function()
                {
                    $(this).children("td").removeClass("ui-state-hover");
                }
        );
        $("#users tr").click(function(){

            $(this).children("td").toggleClass("ui-state-highlight");
        });
    });
</script>